Repository yorrickjansen/gen-ai-on-aws: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pyright-provisioning, pyright-worker

pyright:
  name: pyright
  entry: bash -c 'unset VIRTUAL_ENV && cd api && uv run pyright'
  language: system
  pass_filenames: false

pyright-provisioning:
  name: pyright (provisioning)
  entry: bash -c 'unset VIRTUAL_ENV && cd provisioning && uv run pyright'
  language: system
  pass_filenames: false

pyright-worker:
  name: pyright (worker)
  entry: bash -c 'unset VIRTUAL_ENV && cd worker && uv run pyright'
  language: system
  pass_filenames: false

Fix build
  .claude/hooks/block-pulumi-deployment.sh
  .claude/settings.json
  CLAUDE.md
  api/build_lambda_package.sh
  api/gen_ai_on_aws/endpoints/endpoints.py
  api/pyproject.toml
  api/tests/test_endpoints/test_endpoints.py
  api/uv.lock
Due: pyright

Use $CLAUDE_PROJECT_DIR for portable hook paths
  .claude/settings.json
Due: none

feat(provisioning): always upload Lambda layers via S3 to DevOps bucket
  provisioning/__main__.py
  provisioning/layers.py
Due: pyright-provisioning

chore: migrate from Python logging to Loguru
  CLAUDE.md
  api/gen_ai_on_aws/endpoints/endpoints.py
  api/pyproject.toml
  api/uv.lock
  worker/pyproject.toml
  worker/uv.lock
  worker/worker/config.py
  worker/worker/main.py
  worker/worker/services/processor.py
Due: pyright, pyright-worker

feat: implement 11Labs webhook endpoint with authentication
  api/.env.example
  api/docs/elevenlabs-webhook.md
  api/gen_ai_on_aws/auth.py
  api/gen_ai_on_aws/config.py
  api/gen_ai_on_aws/endpoints/endpoints.py
  api/gen_ai_on_aws/endpoints/types.py
  api/tests/test_auth.py
  api/tests/test_endpoints/test_elevenlabs_webhook.py
Due: pyright

fix: add quotes around CLAUDE_PROJECT_DIR in hooks for proper path handling
  .claude/settings.json
Due: none

Path conditions:
  pyright: any of: ^api/ and \.py$
  pyright-provisioning: any of: ^provisioning/ and \.py$
  pyright-worker: any of: ^worker/ and \.py$
